@*@model Ziggle.WebSite.Models.CategoryViewModel*@

@{
    ViewBag.Title = Model.Category.Name;
}

<h2>@Model.Category.Name</h2>
<div class="row">
    @foreach (var product in Model.Products)
    {
    <div class="row">
        <h3>
            @product.Name - @product.Price.ToString("C")
            <a href="Ziggle.WebSite.Models.ShoppingCartItem" >Add To Cart</a>

            @*@Html.ActionLink(Ziggle.WebSite.Models.ShoppingCartItem, "Add To Cart", Ziggle.WebSite.Models.ShoppingCartItem)*@
        </h3>


        @*<h2>@Html.ActionLink(category.Name, "Category", new { id = category.Id })</h2>*@

    </div>
    }
</div>
