@model HelloWorld.Models.GuestResponse
@{
    Layout = null;
}
    @*<head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <style>
            .btn a {
                color: white;
                text-decoration: none;
            }

            body {
                background-color: #f1f1f1;
            }
        </style>
    </head>*@
<!DOCTYPE html>
<h1>Thank you, @Model.Name</h1>
@if (Model.WillAttend == true)
{
    @:Thanks for coming!
}
else
{
    @:Sorry you can't make it.
}