@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>“Don’t repeat yourself. Every piece of knowledge must have a single
    , unambiguous, authoritative representation within a system.” 
    — Andy Hunt and Dave Thomas</p>

<p>“There are only two hard things in computer science: cache invalidation and naming things.” — Phil Karlton</p>

<p>“Simplicity is prerequisite for reliability.” — Edsger Dijkstra</p>

<p>“All problems in computer science can be solved by another level of indirection.” — David Wheeler</p>

<p>“But that usually will create another problem.” — David Wheeler</p>