<h2>Enroll In Class</h2>

<div class="row">
    <div class="col-md-8">
        <section id="enrollMe">

            @using (Html.BeginForm("ClassEnrollment", "Home", FormMethod.Post))
             {
                @Html.DropDownList("classList", ViewBag.classes as SelectList, "Select Class")

                <input type="submit" value="Add Class" class="btn btn-default" />
             }
        </section>
    </div>
</div>