@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Learning Center</h1>
    <p class="lead">The place for technology classes.</p>
    <p><a href="http://cstructor.com/Home/Details/52" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
   
    <div class="col-md-4" style="font-size:30px" >
        @Html.ActionLink("Class List", "Classlist", "Home", new { area = "" }, null)
    </div>
    <div class="col-md-4"style="font-size:30px">
        @Html.ActionLink("Your enrolled classes", "StudentClasses", "Home", new { area = "" }, null)
    </div>
    <div class="col-md-4"style="font-size:30px">
        @Html.ActionLink("Enroll in a class", "ClassEnrollment", "Home", new { area = "" }, null)
    </div>
        
        <div class="col-md-4">
            <p>See all our class offerings.</p>
        </div>
        <div class="col-md-4">
            <p>See the classes you are enrolled in.</p>
        </div>
        <div class="col-md-4">
            <p>Take a new class.</p>
        </div>
    </div>