@model TheLearningCenter.WebSite.Models.ClassPageModel

@{
    ViewBag.Title = "studentclasses";
}

<h2>Student Classes</h2>

<table class="table">
    @if (Model.Classes !=null)
        { foreach (var item in Model.Classes)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassPrice)
            </td>
        </tr>
    }}

</table>